<!-- <h1>{{title}}</h1> -->
<!--
<ul>
  <li *ngFor="let pers of personas">

    <ng-container *ngIf="pers.edad >=18">
{{pers.nombre}}
    </ng-container>
  </li>

  <ng-container *ngFor="let pers of personas">
    <li *ngIf="pers.edad >= 18">
      {{pers.nombre}}
    </li>

  </ng-container>
</ul>
-->
<br>
<div class="container">


  <button class="btn btn-primary" type="button">Agregar Producto</button>
<br>
<br>
  <div class="row">

    <div class="col-12 col-md-4" *ngFor="let prod of productosModelGet">
      <div class="card text-center mb-3">
        <div class="card-header">
          {{ prod.nombre }}
        </div>
        <div class="card-body">
          <h5 class="card-title">ID: {{prod._id}}</h5>
          <p class="card-text">
            La cantidad existente es {{ prod.cantidad}} y su precio es {{ prod.precio}}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer text-body-secondary">
          2 days ago
        </div>
      </div>
    </div>
  </div>

</div>

<!-- MODAL VER DATOS EN CARDS
 With supporting text below as a natural lead-in to additional content.
 <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-body-secondary">
    2 days ago
  </div>
</div>
-->
<!-- MODAL AGREGAR Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.
-->

<!--
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->

